{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="card-body my-2">
    <h5 class="card-title">{{event.title}}</h5>
    <p class="card-text">{{event.description}}</p>
    <p class="card-text"> Date: {{event.date}} {{event.time}}</p>
    <p class="card-text">{{event.seats}}</p>
    <p class="card-text">{{event.ticket_left}}</p>
    <p class="card-text">{{event.organized_by}}</p>
    <br>

  {% if request.user.is_staff or request.user == event.organized_by %}
  
    <a href="{% url 'event-update' event.id %}" class="btn btn-outline-info btn-block">Update</a>
  
  {% endif %}
  
  <p class="card-text">
      <form action="{{ event_obj.get_absolute_url }}" method="POST">

          {% csrf_token %}
          {{form|crispy}}

          <input type="submit" 
          value="{% if event.ticket_left == 0 %}
            Full
          {% else %}
            Book
          {% endif %}" class="btn btn-outline-info" 
          disabled="{% if event.ticket_left == 0 %}
            disabled
          {% endif %}" alt="{% if event.ticket_left == 0 %}
            it is full
          {% endif %}">
      </form>
  </p>
</div>
     <div class="card-body">
        <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">User</th>
          <th scope="col">Tickets</th>
          <th scope="col">Date and Time of Booking</th>
        </tr>
      </thead>
      <tbody>
        {% for book in booking %}
        <tr>
          <th scope="row">{{book.user.username}}</th>
          <td>{{book.ticket_num}}</td>
          <td>{{book.date}}  {{book.event.ticket_left}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>    
    
</div>







{% endblock %}