{% extends "base.html" %}

{% block content %}
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h1 class="masthead-heading mb-0">Events, events... everywhere! </h1>
      <h2 class="masthead-subheading mb-2">To your radar</h2>
      {% if request.user.is_anonymous %}
        <a href="{% url 'signup' %}" class="btn btn-primary btn-xl rounded-pill mt-5">Sign up to find events!</a>
      {% else %}
        <a href="{% url 'list-event' %}" class="btn btn-primary btn-xl rounded-pill mt-5">Find events!</a>
      {% endif %}
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>




<div class="container text-center">
  <div class="alert alert-light back" role="alert">
      <div id="myCarousel" class="carousel slide" data-ride="carousel" >

      <ol class="carousel-indicators my-1">
      {% for event in events %}
        <li data-target="#myCarousel" data-slide-to="{{forloop.counter}}"
        {% if forloop.first %}
        class="active"
        {% endif %}></li>

      {% endfor %}
    </ol>

          <div class="carousel-inner">
            {% for event in events %}
             <div class="carousel-item {% if forloop.first %} active {% endif %}" id="slide{{ forloop.counter }}">
              <a href="{{event.get_absolute_url}}">
                <img src="{{event.poster.url}}" class="img-fluid1">
              </a>
                <h2 class="card-title py-2 text-white hi">
                  {{event.title}}<br>{{event.date}}
                </h2>
                {# <h3 class="card-text my-5"></h3> #}
             </div>
          {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        </div>
</div>


</header>
{% endblock %}