{% extends "base.html" %}

{% block content %}
<header class="masthead text-center text-white">
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  <div class="masthead-content">
    <div class="container">
      <h1 class="masthead-heading mb-0">All the events,</h1>
      <h2 class="masthead-subheading mb-0">You could ever want...</h2>
      {% if request.user.is_anonymous %}
        <a href="{% url 'signup' %}" class="btn btn-primary btn-xl rounded-pill mt-5">Sign up to find events!</a>
      {% else %}

        <form action="{% url 'list-event' %}" class="m-3">
          <div class="input-group mb-3">
              <input class="form-control" placeholder="Search for title, description or organizer..." name="search" value="{{ request.GET.search }}">

                <div class="input-group-append">
                    
                    <button class="btn btnr my-2 my-sm-0" type="submit">Search <i class="fas fa-search"></i></button>

                </div>
          </div>
      </form>

      {% endif %}

    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>



  <div class="container">
    <div class="alert alert-light" role="alert">
    <div class="row">
      {% for event in events %} 
        <div class="col-6 text-center" >
          <div class="card">
               <div class="img1">
              <a href="{{event.get_absolute_url}}"><img class="card-img-top" src="{{event.poster.url}}" alt="Card image cap"/></a></div>
              <h5 class="card-title position-absolute ltitle">{{event.title}}</h5>
            
            <div class="card-body">
                <h5 class="card-title"><span class="cont">{{event.title}}</span></h5>
                <p class="card-text">Date: <span class="cont">{{event.date}}</span></p>
                <p class="card-text">Time: <span class="cont">{{event.time}}</span><span class="cont"></p>
                <p class="card-text">Organized By: 
                  <a class="Org" href="{% url 'profile' event.organized_by.username %}">{{event.organized_by}}</a>
                </p>
                <a href="{{event.get_absolute_url}}" class="btn btnr">More Info</a>  
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  </div>
</header>
{% endblock %}