{% extends "base.html" %}
{% load static %}
{% block content %}

<header class="masthead text-center">
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
<div class="container">

  
    

    {# USER PROFILE CARD #}
    <div class="card mb-3 prof">
      <div class="row no-gutters prof">
          <div class="col-md-4">
              <img src="{% static "img/profile_def.png" %}" class="card-img" alt="...">
          </div>
          <div class="col-md-8 mb-1">
              <div class="card-body">
                  <h5 class="card-title text-left mx-4">{{user.username}}</h5>
                  <div class="profcon">
                  <p class="card-text ">{{user.first_name}} {{user.last_name}}</p>
                  </div>
                  {%if not request.user == user %}
                <button id="profile-{{user.id}}" class="btn btnr"  onclick="follow({{user.id}})">
                      {% if request.user.id in following %}
                        Unfollow
                      {% else %}
                        Follow
                      {%endif%}
                </button>
                {%endif%}
                 <br><p class="">
                 <span class="count">Following <span id="followingCount">{{followers.count}}</span> </span> |
                 <span class="count">Followers <span id="followerCount">{{following.count}}</span></span>
</p>

              </div>
          </div>
            <p class="card update">
              {% if request.user == user %}
                <a href="{% url 'profile-update' %}" class="btn btnr text-center">Update Profile</a>
            {%endif%}
          </p>
      </div>
<div class="card-footer" >
last login <small>{{user.last_login}}</small>
</div>

          <script>
                function follow(user_id){
                  var button = "#profile-" + user_id;

                  $.ajax({

                    type: "GET",

                    url: "/follow/"+user_id+"/",
                    success: function(data){
                  if(data.following){
                    $(button).text('Unfollow');
                    $("#followerCount").text(data.following_count)
                    // $("#followerCount").text(data.follower_count)
                  }
                  else {
                    $(button).text('Follow');
                    $("#followerCount").text(data.following_count);
                    // $("#followerCount").text(data.follower_count);
                  }
                },})}

              </script>
        </div>
    {# =============== #}
<div class="alert alert-light text-center" role="alert">
    <div class="row">
      {% for event in events %} 
            <div class="col-6 text-center" >
              <div class="card">
                   <div class="img1">
                  <a href="{{event.get_absolute_url}}"><img class="card-img-top" src="{{event.poster.url}}" alt="Card image cap"/></a></div>
                  <h5 class="card-title position-absolute ltitle">{{event.title}}</h5>
                
                <div class="card-body">
                <h5 class="card-title"><span class="cont">{{event.title}}</span></h5>
                <p class="card-text">Date: <span class="cont">{{event.date}}</span></p>
                <p class="card-text">Time: <span class="cont">{{event.time}}</span></p>
                    <a href="{{event.get_absolute_url}}" class="btn btnr">More Info</a>  
                </div>
              </div>
            </div>
      {% endfor %}
    </div>  
  </div>
</div>

</header>
{% endblock %}